@import "tailwindcss";

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?c6wr72');
  src: url('fonts/icomoon.eot?c6wr72#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c6wr72') format('truetype'),
    url('fonts/icomoon.woff?c6wr72') format('woff'),
    url('fonts/icomoon.svg?c6wr72#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}